workflows/Sync your GitHub issues to your Notion database.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Create database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create custom Notion filters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reopen issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger on issues": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find database page": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create custom Notion filters": {
      "main": [
        [
          {
            "node": "Find database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-21T04:56:42.794Z",
  "id": "ua4w1EpVhJTZ7Msl",
  "meta": null,
  "name": "Sync your GitHub issues to your Notion database",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "5026700b-6693-473a-8100-8cc6ddef62a6",
        "title": "={{$json[\"body\"][\"issue\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Issue ID|number",
              "numberValue": "={{$node[\"Trigger on issues\"].json[\"body\"][\"issue\"][\"id\"]}}"
            },
            {
              "key": "Link|url",
              "urlValue": "={{$node[\"Trigger on issues\"].json[\"body\"][\"issue\"][\"html_url\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0bd18974-8414-4b83-b3fb-85d2f6a74164",
      "name": "Create database page",
      "type": "n8n-nodes-base.notion",
      "position": [
        380,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## IF & Switch\nDepends on what action was taken on an issue in GitHub."
      },
      "id": "dfce23fd-7ff8-42d1-9544-694345156080",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "5026700b-6693-473a-8100-8cc6ddef62a6",
        "returnAll": true,
        "filterType": "json",
        "filterJson": "={{$node[\"Create custom Notion filters\"].json[\"notionfilter\"]}}",
        "options": {}
      },
      "id": "577e0d7a-0539-414f-8ec8-00ce12807d5b",
      "name": "Find database page",
      "type": "n8n-nodes-base.notion",
      "position": [
        560,
        440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Trigger on issues\"].json[\"body\"][\"action\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "edited"
            },
            {
              "value2": "deleted",
              "output": 1
            },
            {
              "value2": "closed",
              "output": 2
            },
            {
              "value2": "reopened",
              "output": 3
            }
          ]
        }
      },
      "id": "91b0586c-eb08-41d0-bbb0-8a03c4a0ac3a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        740,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Trigger on issues\"].json[\"body\"][\"action\"]}}",
              "value2": "opened"
            }
          ]
        }
      },
      "id": "5262e14e-adc2-45d1-9e3f-c0eba013077a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        200,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $node[\"Find database page\"].json[\"id\"] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Issue|title",
              "title": "={{$node[\"Trigger on issues\"].json[\"body\"][\"issue\"][\"title\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "735ef0b3-70c3-4a88-ad02-35edf8f749c4",
      "name": "Edit issue",
      "type": "n8n-nodes-base.notion",
      "position": [
        920,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": "={{$node[\"Find database page\"].json[\"id\"]}}"
      },
      "id": "39b75e78-bd62-40e4-9e88-12c6a1901c34",
      "name": "Delete issue",
      "type": "n8n-nodes-base.notion",
      "position": [
        920,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "functionCode": "const new_items = [];\nfor (item of $items(\"Trigger on issues\")) {\n\n  // do not process this item if action is created\n  if (item.json[\"body\"][\"action\"] == \"opened\") {\n    continue;\n  }\n\n  // build the output template\n  var new_item = {\n    \"json\": {\n      \"notionfilter\": \"\"\n    }\n  };\n  new_item = JSON.stringify(new_item);\n  new_item = JSON.parse(new_item);\n  new_items.push(new_item);\n\n  // create Notion filter to find specific database page by issue ID\n  notionfilter = {\n    or: [],\n  }\n\n  const filter = {\n    property: 'Issue ID',\n    number: {\n      equals: parseInt(item.json[\"body\"][\"issue\"][\"id\"])\n    }\n  }\n  notionfilter[\"or\"].push(filter);\n\n  new_item.json.notionfilter = JSON.stringify(notionfilter); \n}\n\nreturn new_items;"
      },
      "id": "d8fee72d-c19d-4b99-85c2-dcc5d4fa6756",
      "name": "Create custom Notion filters",
      "type": "n8n-nodes-base.function",
      "position": [
        380,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{$node[\"Find database page\"].json[\"id\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Closed|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "99c69200-d932-4379-9a36-96cd8420f21c",
      "name": "Close issue",
      "type": "n8n-nodes-base.notion",
      "position": [
        920,
        520
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{$node[\"Find database page\"].json[\"id\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Closed|checkbox"
            }
          ]
        },
        "options": {}
      },
      "id": "3f4b27d3-33ae-44f8-ab18-1c23ae7cf890",
      "name": "Reopen issue",
      "type": "n8n-nodes-base.notion",
      "position": [
        920,
        680
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "daveshap",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "OpenAI_Agent_Swarm",
          "mode": "name"
        },
        "events": [
          "issues"
        ]
      },
      "id": "62e1a9d3-3fc6-46de-a048-cf8176f30f94",
      "name": "Trigger on issues",
      "type": "n8n-nodes-base.githubTrigger",
      "position": [
        20,
        340
      ],
      "webhookId": "bc0a0a44-00db-473b-8746-b60b3b36039c",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "iygdTUufTU0zuh4H",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-11-21T04:56:42.794Z",
  "versionId": "0b998d1f-113f-4acc-ad80-2e2a12d467b6"
}